.header {
  background-image: url("/public/images/pattern-bg.png");
  background-size: cover;
  height: 30vh;
  width: 100vw;
}

h1 {
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    padding: 1.5rem 0 0 0;
  }
}
