input {
  border-radius: 10px;
  border: 0;
  color: var(--color-primary);
  font-size: large;
  font-weight: 400;
  height: 5rem;
  margin: 1rem;
  padding-left: 1.5rem;
  width: 50vw;
}
@media screen and (max-width: 768px) {
  input {
    font-size: medium;
    margin: 1rem;
    width: 80vw;
  }
}
input:focus {
  outline: none;
}

input:invalid {
  border: 3px red;
  border-style: double;
}

input[type="submit"] {
  all: unset;
  background-color: var(--color-primary);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: x-large;
  font-weight: 700;
  height: 5rem;
  position: absolute;
  right: 25vw;
  text-align: center;
  width: 5rem;
}

@media screen and (max-width: 768px) {
  input[type="submit"] {
    right: 10vw;
  }
}

input[type="submit"]:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

input[type="submit"]:disabled {
  color: var(--color-secondary);
}

input[type="submit"]:disabled:hover {
  color: var(--color-primary);
}
