@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --color-primary: hsl(0, 0%, 17%);
  --color-secondary: hsl(0, 0%, 59%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.shadow {
  box-shadow: 0px 20px 28px 27px rgba(0, 0, 0, 0.1);
}

.pointer {
  cursor: pointer;
}
